<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
<h1>
    <a href="{{ url_for('index') }}">Gymnast Matching Recommender</a>
</h1>

<hr/>
<table>
    <thead>
    <tr>
        <th>Gymnast</th>
        <th>Vault</th>
        <th>Bars</th>
        <th>Beam</th>
        <th>Floor</th>
        <th>Similar Gymnast</th>
        <th>Different Gymnast</th>
    </tr>
    </thead>
    <h3>Recent gymnast matches found by this app</h3>
    <tbody>
    {% for matching in matchings %}
    <tr>
        <td>{{ matching.gymnast }}</td>
        <td>{{ matching.vault }}</td>
        <td>{{ matching.uneven_bars }}</td>
        <td>{{ matching.balance_beam }}</td>
        <td>{{ matching.floor_exercise }}</td>
        <td>{{ matching.similar }}</td>
        <td>{{ matching.different }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<h3>Type your own gymnast here and look for your matches above</h3>
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <input type=text size=15 name=gymnast placeholder="Your gymnast">
        <input type=text size=15 name=vault placeholder="Vault score">
        <input type=text size=15 name=bars placeholder="Bars score">
        <input type=text size=15 name=beam placeholder="Beam score">
        <input type=text size=15 name=floor placeholder="Floor score">
        <input type=submit value=Find>
    </dl>
</form>
<hr>
<h3>Based on: Tokyo All-around Competition Final Result</h3>
<table>
    <thead>
    <tr>
        <th>Gymnast</th>
        <th>Rank</th>
        <th>Vault</th>
        <th>Bars</th>
        <th>Beam</th>
        <th>Floor</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr>
        <td>{{ result.gymnast }}</td>
        <td>{{ result.rank }}</td>
        <td>{{ result.vault }}</td>
        <td>{{ result.uneven_bars }}</td>
        <td>{{ result.balance_beam }}</td>
        <td>{{ result.floor_exercise }}</td>
        <td>{{ result.total }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>